header {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 10px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1000px;
}