.card-container {
    border: 1px solid palevioletred;
    padding: 20px;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
}

.card-link {
    display: block;
    text-decoration: none;
    color: black;
}

a {
    color: rgb(205, 1, 103);
    transition: color .3s ease-in-out;
  }
  a:hover {
    color: rgb(205, 1, 103);
    box-shadow: inset 200px 0 0 0 rgb(205, 1, 103);
  }
